[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
werkzeug = "*"
requests = "*"
hexbytes = "*"
ethereum = "*"
pre-commit = "*"
mongoengine = "*"
jsonpickle = "*"
pydantic = "*"
sqlalchemy = "1.4.20"
alembic = ">=1.6.5"

[dev-packages]
black = "==19.3b0"
coverage = "*"
pytest = "*"
mongomock = "*"
twine = "*"

[requires]
python_version = "3.8"
